* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Barlow Semi Condensed", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 14px;
}
:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hwb(0 100% 0%);
  --image-border-color: rgba(255, 255, 255, 0.5);
  --white-review: rgba(255, 255, 255, 0.7);
  --white-position: rgba(255, 255, 255, 0.5);
  --black-review: rgba(0, 0, 0, 0.7);
  --black-position: rgba(0, 0, 0, 0.5);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
}

.cardcontainer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.testimonials {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 10px;
}
.imagename {
  display: flex;
  gap: 15px;
}
.imagename img {
  height: 35px;
  border-radius: 50%;
  border: 2px solid var(--image-border-color);
}
.name {
  font-size: 14px;
  font-weight: 500;
}
.imagename .nametitle p {
  font-size: 11px;
  color: var(--white-position);
}

.testimonials h2 {
  font-size: 21px;
  font-weight: 600;
  color: var(--White);
}
.testimonials p {
  font-size: 16px;
  line-height: 20px;
  color: var(--white-review);
}
#bg-pattern-quotation {
  background: url(images/bg-pattern-quotation.svg) no-repeat;
  background-position: top right 15px;
  /* background-position-x: 204px; */
  background-color: var(--Moderate-violet);
  color: var(--White);
  padding: 25px 34px 35px 30px;
}
#bg-graydark {
  background-color: var(--Very-dark-grayish-blue);
  color: var(--White);
  padding: 25px 22px 35px 30px;
}
#bg-white {
  background-color: var(--White);
  color: var(--Very-dark-blackish-blue);
  padding: 25px 26px 35px 30px;
}
#bg-white p {
  color: var(--black-review);
}
#bg-white h2 {
  color: var(--Very-dark-blackish-blue);
}
#bg-very-graydark {
  background-color: var(--Very-dark-blackish-blue);
  color: var(--White);
  padding: 25px 26px 35px 30px;
}

@media (min-width: 395px) {
  .cardcontainer-grid {
    grid-template-columns: repeat(4, 1fr);
    width: min(95%, 400px);
  }
  .grid-col-span-2 {
    grid-column: span 2;
  }

  .testimonials:last-child {
    grid-column: 4;
    grid-row: 1;
    grid-row-end: 3;
  }

  .testimonials p {
    line-height: 22px;
  }

  .testimonials h2 {
    font-size: 22px;
  }
}

@media (min-width: 395px) and (max-width: 770px) {
  .cardcontainer-grid {
    grid-template-columns: repeat(4, 1fr);
    width: min(95%, 770px);
  }
  .grid-col-span-2 {
    grid-column: span 3;
  }
  .testimonials:last-child {
    grid-row: 3;
    grid-column: span 2;
  }
  .testimonials:nth-child(1) {
    grid-column: span 4;
  }
  .testimonials:nth-child(2) {
    grid-column: span 2;
  }
  .testimonials:nth-child(3) {
    grid-column: span 2;
  }
  .testimonials:nth-child(4) {
    grid-column: span 2;
    grid-row-start: 3;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .cardcontainer-grid {
    grid-template-columns: repeat(4, 1fr);
    width: min(95%, 1200px);
  }
}
